html{
    min-width: 800px;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url(../resource/background.jpg);
    background-size:cover;
}

#content{
    width: 100%;
}
#table_1{
    border-collapse: separate;
    border-spacing: 40px;
}
#table_1 td{
    font-size:20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
a{
    text-decoration: none;
    color:white;
}

#table_2{
    width: 100%;
    text-align: center;
}
#welcome{
    color:black;
    font-size: 30px;
    letter-spacing: 50px;
    -webkit-animation: flicker 3s infinite; 
    font-style: "楷体";
    color: gold;
 }
 @-webkit-keyframes flicker{                    /*创建动画*/
     0%{opacity: 1;}
     50%{opacity: 0.2;}
     100%{opacity: 1;}
 }

#logo{
    width: 80px;
    border-radius: 15px;
}

#login{
position: absolute;
right: 0;
font-size: 15px;
}


p{
    font-size: 30px;
    color: bisque;
}
ol{
    font-size: 20px;
    color: bisque;
}


footer{
    font-size: 15px;
    bottom: 0;
}
foot{
    text-align: center;
}
marquee{
    font-size: 30px;
    font-family: '楷体';
    color: violet;
}