body{
    background-image: url(../resource/pno.jpeg);
    background-size: auto;
}
table{
    margin: 0px auto;
    border-collapse: separate;
    border-spacing: 40px;
}
#music a{
    font-size: 50px;
    text-decoration: none;
    color: rgb(146, 182, 213);
    font-family: "楷体";
}
#dongbai_qu{
    border-radius: 50px;
}
#sunkai_qu,#dongbai_qu{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}