body{
    background-image: url(../resource/pno.jpeg);
    background-size: auto;
}

#music table{
    margin: 0px auto;

}

#music a{
    font-size: 50px;
    text-decoration: none;
    color: rgb(146, 182, 213);
    font-family: "楷体";
}
#music a:hover{
    color: gold;
}


#dongbai_qu{
    border-radius: 50px;
}
#sunkai_qu,#dongbai_qu{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}

#foot{
    position: fixed;
    font-size: 15px;
    bottom: 0;
    color:rgb(255, 153, 0) ;
    right: 0;
}